.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.profileBody {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: normal;
  overflow: scroll;
  scrollbar-width: none;
}
@media (orientation: landscape) {
  .profileBody {
    margin-top: 0rem;
  }
}

.profileName {
  margin-top: 1rem;
  font-family: "Reem Kufi", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
  /* color: ; */
}

.profileRelation {
  font-family: "Reem Kufi", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #b2b2b2;
  margin-bottom: 2rem;
}

.profileSecond {
  display: flex;
  flex-direction: column;
  color: #b2b2b2;
  font-size: 1.2rem;
  font-weight: bold;
  gap: 1rem;
  /* background-color: #ffffff; */
  padding: 1rem;
  border-radius: 0.5rem;
  /* border: 2px solid #f9f9f9; */
}
.profileSecondInfo {
  /* font-family: "Reem Kufi", sans-serif; */
  font-size: 1.2rem;
  font-weight: bold;
  color: #171717;
}
