@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap");
@import url(./css/header.css);
@import url(./css/loading.css);
@import url(./css/scrollbar.css);
@import url(./css/forms.css);
@import url(./css/profile.css);
@import url(./css/card.css);

body {
  background-color: #fafafa;
  width: 100vw;
  height: 100vh;
}

body {
  position: fixed;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* main */

main {
  position: relative;
  background-color: #f3f5fc;
  /* width: 100vw; */
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 2rem;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.025),
    0 2px 2px hsl(0deg 0% 0% / 0.025), 0 4px 4px hsl(0deg 0% 0% / 0.025),
    0 8px 8px hsl(0deg 0% 0% / 0.025), 0 16px 16px hsl(0deg 0% 0% / 0.025);
  white-space: normal;
  overflow: scroll;
  scrollbar-width: none;
}
@media (orientation: landscape) {
  main {
    height: 80%;
  }
}
#create-btn {
  width: 3em;
  height: 3em;
  border-radius: 100%;
  cursor: pointer;
  padding: 0;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  transition: 0s;
}
